header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

header h1{
    color: #2807bc;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
header ul li a{
    text-decoration: none;
    color: black;
}